[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
dask = {extras = ["dataframe"] }
modin = {extras = ["dask"], version = "*"}
polars = "*"
duckdb = "*"

[dev-packages]
onebrc = {file = ".", editable = true}
build = "*"
ruff = "*"
ipykernel = "*"

[requires]
python_version = "3.12.3"
