[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
onebrc = {file = ".", editable = true}
build = "*"
ruff = "*"

[requires]
python_version = "3.12"
